body{
  margin: 0;
}
li {
  list-style: none;
}

h2{
  text-align: center;
}

#app {
  height: 100vh;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app .item{

}

#app .list {
  margin: 0;
  padding: 0;
  flex: 1;
  overflow-y: auto;
  position: relative;
}


#app .list li.left{
  text-align: left;
}

#app .list li.right{
  text-align: right;
  padding-right: 10px;
}

#app .box{
  display: flex;
  padding: 25px 0;
}

#app .box .msg{
  flex: 1;
  height: 40px;
}

#app .box .launch{
  flex-basis: 10%;
  background-color: skyblue;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  color: #fff;
  font-size: 20px;
  
}